.card{
    bottom: 50px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background: rgb(249, 7, 7);
    color: rgb(245, 116, 4);
}
div#two{
    background: rgb(249, 7, 7);
    color: rgb(245, 116, 4);
}


